@include tablet {
    .contenedor-anuncios {
        @include grid(3, 2rem);
    }
}

.img-anuncio {
    border-radius: 1.5rem 1.5rem 0 0;
}

.anuncio {
    border: 1px solid darken($gris, 10);
    border-radius: 1.5rem;

    .contenido-anuncio {
        padding: 2rem;
    }

    h3, p {
        margin: 0;
    }
}

.precio {
    color: $azul;
    font-weight: $bold;
    font-size: 3rem;
}

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;
    li {
        flex: 1;
        display: flex;

        img{
            flex: 0 0 3rem;
            margin-right: 1rem;
        }
        p {
            font-weight: $black;
        }
    }
}