@include tablet {
    .iconos-nosotros{
        @include grid(3, 2rem);
    }
}

.icono {

    .background-icono {
        background-color: $azulClaro;
        width: 15rem;
        padding: 2rem;
        border-radius: 1rem;
        margin: 0 auto;
    }

    h3{
        text-transform: uppercase;
    }
}